@model ProdutoModel

<tr>
	<td data-field="id">@Model.ProdutoId</td>
	<td data-field="name">@Model.NomeProduto</td>
	<td data-field="categoria">@Model.CategoriaId</td>
	<td data-field="disponivel">@Model.Disponivel</td>
	<td data-field="dataExpiracao">@Model.DataExpiracao</td>
	<td class="actions" width="220">
		<a asp-controller="Produto" asp-action="Detail" asp-route-id="@Model.ProdutoId">Detalhe</a>
		<a asp-controller="Produto" asp-action="Edit" asp-route-id="@Model.ProdutoId">Editar</a>
		<a asp-controller="Produto" asp-action="Delete" asp-route-id="@Model.ProdutoId">Remover</a>
	</td>
</tr>